<main-directive></main-directive>

<div class="capabilities-container">

    <div class="capabilities-header">
        <div class="capabilities-bar"></div>
        <div class="capabilities-quote">
            Learning how to learn is life's most important skill. - Tony Buzan
        </div>

    </div>

    <div class="capabilities-main">

        <span class="skills" ng-repeat="skill in skills"><img src="{{ skill.url }}" height="150" width="150">
        <br>
        <br>
        {{ skill.name }}</span>

    </div>

    <div class="resume">
        <button ng-click="showResume()" >Full Resume</button>
        <br>
        <object data="app/js/capabilities/NicholasPetersonResume.pdf" ng-show="flag"></object>
    </div>

</div>

<footer-directive></footer-directive>